.button {
  cursor: pointer;
  font-size: var(--font-sm);
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  font-weight: normal;
  padding: 1.1rem 1.6rem;
  border: none;
  user-select: none;

  &.center {
    justify-content: center;
  }

  &.left {
    justify-content: start;
  }

  &.right {
    justify-content: end;
  }

  &.primary {
    background: var(--primary-btn-bg);
    color: #fff;
    border-radius: 1.2rem;
    padding: 1.65rem 1.6rem;
    line-height: 1;

    &:not([disabled]):hover {
      background: var(--primary-btn-hover);
    }

    &:not([disabled]):active {
      background-color: var(--primary-btn-active);
    }
  }

  &.primary-action {
    background: var(--primary-btn-bg);
    color: #fff;
    border-radius: 0.3rem;
    padding: 1.65rem 1.6rem;
    line-height: 1;

    &:not([disabled]):hover {
      background: var(--primary-btn-hover);
      box-shadow: 0 0 0.4rem 0.5rem rgb(45 66 252 / 10%);
    }

    &:not([disabled]):active {
      background-color: var(--primary-btn-active);
      box-shadow: 0 0 0.4rem 0.6rem rgb(45 66 252 / 10%);
    }
  }

  &.secondary {
    background-color: rgba(180, 187, 255, 0.1);
    border-radius: var(--border-radius-sm);
    color: #fff;
    padding: 1.1rem 1.25rem;
    font-weight: normal;
    position: relative;
    line-height: 1;
    letter-spacing: 0;

    > .btn-image {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      max-height: 2.3rem;
      max-width: 2.3rem;
      margin-right: 1.15rem;
    }

    > .arrow-icon {
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
      max-width: 0.8rem;
    }

    &:not([disabled]):hover {
      background: rgba(80, 87, 126, 0.6);
    }

    &:not([disabled]):active {
      background: rgba(80, 87, 126, 0.7);
    }
  }

  &.disabled,
  &:disabled {
    box-shadow: none;
    cursor: not-allowed;
    opacity: 0.8;
  }
&.loading {
  cursor: not-allowed;
  pointer-events: none;
}


@keyframes spinner-circle {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}
}


.lds-ring,
.lds-ring div {
  box-sizing: border-box;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  margin: 2px;
  border: 2px solid currentColor;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: currentColor transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
