.Footer-wrapper {
  text-align: center;
  padding: 3rem 0;
  /* background: #16182e; */
  width: 100%;
  /* position: absolute; */
  /* transform: translateX(-50%); */
  /* left: 50%; */
  /* height: 20rem; */
  /* bottom: 0; */
  border-top: 1px solid #282b4c57;
  background: var(--dark-blue-bg);
  border-radius: 0.4rem;
}

.Footer-logo {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.Footer-logo .deposit{

}
.Footer-logo img {
  height: 5rem;
  margin-bottom: 10px;
}

.Footer-social-link-block {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-bottom:3rem;
}
.Footer-link {
  color: #a0a3c4;
  font-size: var(--font-base);
  line-height: 1.85rem;
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
}
.Footer-link:hover {
  color: white;
}

.Footer-social-link-block .App-social-link {
  /* margin: 0 3.2rem; */
  margin-left: 0;
  margin-right: 0;
  display: flex;
  width: 3.5rem;
  height: 3.5rem;
  align-items: center;
  justify-content: center;
}
.Footer-social-link-block .App-social-link img{
  width: 100%;
}

.Footer-social-link-block .App-social-link:hover img {
  filter: invert(1);
}

.Footer-copyright {
  padding: 1.6rem;
}

.Footer-copyright__text {
  font-family: Circular Std;
  font-size: 1.3rem;
  line-height: 1.3rem;
  letter-spacing: -0.41px;
  color: #a0a3c4;
  display: block;
}
.Footer-links {
  padding-bottom: 4rem;
  display: flex;
  justify-content: center;
}
.Footer-links > a:not(:last-child),
.Footer-links > .a:not(:last-child) {
  padding-right: 2rem;
}

@media (max-width: 900px) {
  .Footer-social-link-block .App-social-link {
    /* margin: 0 1.6rem; */
    margin-left: 0;
    margin-right: 20px;
  }
}

@media (max-width: 580px) {
  .Footer-links {
    flex-direction: column;
  }
  .Footer-links > a {
    padding-right: 0;
    margin-bottom: 0.5rem;
    display: block;
  }
  .Footer-social-link-block {
    gap: 20px;
  }
  .Footer-wrapper {
    padding-top: 2.5rem;
  }
  .home {
    height: 23rem;
  }
  .Footer-links > a:not(:last-child),
  .Footer-links > .a:not(:last-child) {
    padding-right: 0;
  }
  .Footer-social-link-block .App-social-link {
    /* margin: 0 0.8rem; */
    margin-left: 0;
    margin-right: 20px;
  }
}
