.container{
  width: 100%;
  height: 100%;
  padding: 0 48px;
  background-color: #000;
}
.topBox{
  width: 100%;
  /* height: 580px; */
  background-image: url("img/Bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 0px 0px 48px 48px;
  position: relative;
  margin-bottom: 40px;
  padding-bottom: 80px;
}
.header{
  width: calc(100% - 96px);
  position: fixed;
  padding-top: 20px;
  padding-bottom: 10px;
  top: 0;
  display: flex;
  justify-content: space-around;
  background-color: #000;
  z-index: 9;
}
.header img{
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 500px;
}
.nav{
  display: flex;
  gap: 20px;
}
.nav a{
  text-decoration: none;
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 700;
  color: #CBD5E1;
}
.nav a:hover{
  color: #FFF;
}
.topInner{
  padding-top: 150px;
  padding: 150px 200px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.topInner a{
  text-decoration: none;
}
.titleFirst{
  width: 95%;
  font-family: Inter;
  font-size: 56px;
  font-weight: 800;
  line-height: 55px;
  margin-bottom: 25px;
}
.topButton{
  background: #5D00FB;
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 20px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 20px;
  color: #fff;
}
.topText{
  width: 60%;
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  color: #CBD5E1;
  line-height: 30px;
  margin-bottom: 20px;
}
.topDocu{
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 400;
  color: #A2B0CB;
  margin-bottom: 10px;
}
.topDocu img{
  width: 32px;
  vertical-align: bottom;
  margin-left: 5px;
}
.topBorder{
  border-radius: 16px;
  background: linear-gradient(90deg, rgba(168, 85, 247, 1) 0%, rgba(94,99,238,1) 50%, rgb(194, 149, 242) 75%, rgba(93, 0, 251, 1) 100%);
  color: #A2B0CB;
  border: 1px solid transparent;
}
.borInner{
  border-radius: 16px;
  padding: 8px 15px;
  background-color: #3c2976;
}
.content{
  width: 100%;
  background-image: url("img/Section.png");
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  padding: 174px 150px 150px;
  display: flex;
  justify-content: space-between;
}
.innerBox{
  height: 500px;
  padding-top: 40px;
  /* margin-bottom: 40px; */
}
.contentTitle{
  display: inline-block;
  width: auto;
  max-width: 110%;
  font-family: Inter;
  font-size: 40px;
  font-weight: 800;
  line-height: 45px;
  background: linear-gradient(313.71deg, rgba(248, 250, 252, 0.236642) 8.27%, #F8FAFC 57.24%, rgba(248, 250, 252, 0.237844) 96.6%);
  margin-bottom: 15px;
  background-clip: text;
  color: transparent;
}
.contentInner{
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #969696;
}
.contentright,.contentLeft{
  width: 45%;
}
.imgBox{
  width: 100%;
  height: 720px;
  border-radius: 24px 0px 0px 0px;
  margin-top: -220px;
  /* border: 1px solid #1E293B;
  background-image: url("img/Rectangle.png");
  background-size: 100% 100%;
  background-repeat: no-repeat; */
}
.imgBox img{
  height: 100%;
}
.contentBorder{
  height: 100%;
  position: relative;
  width: 1px;
  background: linear-gradient(180deg, rgba(32,34,40,0) 0%, #454A57 46%, rgba(114,121,142,0) 100%);
}
.contentBorder .contentBall{
  width: 40px;
  height: 40px;
  left: -20px;
  border-radius: 50%;
  position: absolute;
  background: linear-gradient(18.55deg, #77F6D3 -26.26%, #6063F0 43.6%, #9F57F2 108.45%);
  text-align: center;
  line-height: 40px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.firstBall{
  top: 100px;
}
.secondBall{
  top: 600px;
}
.thirdBall{
  top: 1100px;
}
.forthBall{
  top: 1600px;
}
.product,.productSec{
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  padding: 200px 150px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product{
  background-image: url("img/productBg.png");
}
.productTitle{
  width: auto;
  margin-bottom: 40px;
}
.structure{
  width: 100%;
  padding: 10px 0;
}
.productSec{
  background-image: url("img/productBg2.png");
  margin-bottom: 40px;
  padding: 200px 150px;
}
@media (max-width: 900px) {
  .header{
    width: calc(100% - 20px);
  }
  .container{
    padding: 0 10px;
  }
  .header img{
    margin-right: 100px;
  }
  .topInner{
    padding: 150px 20px 0;
  }
  .mobile{
    font-size: 40px;
  }
  .content{
    padding: 150px 20px;
  }
  .innerBox .contentInner{
    height: 200px;
    overflow: auto;
  }
  .contentTitle{
    font-size: 21px;
    line-height: 25px;
  }
  .imgBox{
    display: flex;
    align-items: center;
  }
  .imgBox img{
    width: 100%;
    height: auto;
  }
  .product, .productSec{
    padding: 150px 20px 0;
  }
}