.home-container{
  width: 100%;
  height: 100%;
  background-color: #000;
  position: relative;
}
.home-container .home-header{
  width: 100%;
  padding: 67px 15% 142px 15%;
  position: relative;
}
.home-container .home-header .hero{
  width: 50%;
  position: absolute;
  right: 0;
  bottom: 60px;
}
.home-container .home-header .heros{
  width: 65%;
  position: absolute;
  right: -13%;
  bottom: -95px;
}
.home-container .home-header .Ellipse{
  width: 50%;
  position: absolute;
  left: 20px;
  bottom: 60px;
}
.home-container .home-header .MaskTable{
  width: 35%;
  position: absolute;
  left: 100px;
  bottom: 60px;
}
.home-container .home-header .EllipseLeft{
  width: 25%;
  position: absolute;
  left: 0;
  bottom: 10%;
}
.home-container .home-header .Mask{
  width: 50%;
  position: absolute;
  left: 15%;
  top: 0;
}
.home-container .home-header-top{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 48px;
  z-index: 9;
  display: flex;
  justify-content: space-around;
  background: linear-gradient(121.46deg, rgba(119, 246, 211, 0.2) -8.22%, rgba(95, 99, 240, 0.2) 37.56%, rgba(159, 87, 242, 0.2) 79.81%);
}
.home-container .home-header-top .icon{

}
.home-container .home-header-top .icon img{
  width: 20px;
  height: 20px;
  margin-right: 22px;
}
.home-container .home-header .nav{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 47.5px;
  z-index: 1;
}
.home-container .home-header .nav img{
  width: 75px;
  height: 75px;
}
.home-container .home-header .nav .navButton{
  display: flex;
  padding-top: 11.5px;
}
.home-container .home-header .nav .navButton .scroll{
  height: 50px;
  line-height: 20px;
  padding: 14px 38px 14px 38px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  font-family: 'Neue' !important;
  font-size: 18px;
  font-weight: 500;
  border-radius: 30px;
  margin-right: 30px;
  cursor: pointer;
}
.home-container .home-header .nav .navButton .joinNew{
  height: 50px;
  line-height: 20px;
  padding: 14px 38px 14px 38px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  font-family: 'Neue' !important;
  font-size: 18px;
  font-weight: 500;
  border-radius: 30px;
  margin-right: 30px;
  color: #000;
  cursor: pointer;
}

.home-container .home-header .support{
  position: relative;
  margin-bottom: 30px;
  z-index: 1;
}
.home-container .home-header .introduce{
  position: relative;
  z-index: 1;
}
.home-container .home-header .support img{
  height: 40px;
}
.introduce .large{
  display: flex;
}
.introduce .large .marginRight{
  width: 65%;
  margin-right: 10%;
  margin-bottom: 60px;
}
.introduce .large .marginLeft{
  width: 60%;
  margin-left: 18%;
  margin-bottom: 60px;
}
.introduce .large .BurstStar{
  width: 10%;
  height: 10%;
  margin-top: -1%;
}
.introduce .trade div{
  font-family: 'Neue' !important;
  font-size: 30px;
  font-weight: 500;
  line-height: 70px;
  margin-right: 15%;
}
.introduce .trade img{
  width: 35%;
  margin-bottom: 60px;
}
.introduce .intro-flex a{
  text-decoration: none;
}
.introduce .intro-flex a span{
  font-family: 'Neue' !important;
  font-size: 18px;
  font-weight: 600;
}
.introduce .intro-flex .start{
  height: 52px;
  padding: 14px 38px 14px 38px;
  border-radius: 30px;
  background: linear-gradient(121.46deg, #77F6D3 -8.22%, #5F63F0 37.56%, #9F57F2 79.81%);
  color: #fff;
  width: fit-content;
  font-family: 'Neue' !important;
  font-size: 18px;
  font-weight: 600;
  margin-left: 52%;
  margin-right: 8%;
  cursor: pointer;
}
.introduce .intro-flex .start img{
  display: inline-block;
  width: 24px;
  vertical-align: top;
}
.introduce .intro-flex{
  display: flex;
}

.introduce .intro-flex .learn{
  font-family: 'Neue' !important;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  color: #fff;
  padding-top: 10px;
}
.home-container .main{
  background-image: url("img/home/bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 130px 15%;
  margin-top: -60px;
}
.home-container .main .box{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 130px;
  position: relative;
}
.home-container .main .box .title{
  margin-bottom: 95px;
}
.home-container .main .box .charts{
  width: 100%;
  margin-bottom: 50px;
}
.home-container .main .box .choose{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}
.home-container .main .box  .zklinkLogo{
  width: 5rem;
  position: absolute;
  bottom: 9rem;
  left: 35%;
}
.home-container .main .box .choose img{
  position: absolute;
  width: 252px;
  z-index: 0;
  filter: opacity(10%);
  left: 30%;
  top: -40px;
}
.home-container .main .box .choose .chooseBut{
  height: 50px;
  line-height: 20px;
  padding: 14px 38px 14px 38px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  font-family: 'Neue' !important;
  font-size: 18px;
  font-weight: 500;
  border-radius: 30px;
}
.home-container .main .box .choose .chooseInf{
  width:750px;
  font-family: 'Neue' !important;
  font-size: 38px;
  font-weight: 500;
  line-height: 64.6px;
}
.home-container .main .box .cardList{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.home-container .main .box .cardList .card{
  width: 30%;
  max-width: 360px;
  max-height: 394px;
  height: 23vw;
  border-radius: 30px;
  padding: 50px 30px;
  position: relative;
}
.home-container .main .box .cardList .card .ball{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-bottom: 40px;
}
.home-container .main .box .cardList .card img{
  position: absolute;
  right: 10%;
  bottom: 13%;
}
.home-container .main .box .cardList .card .title{
  font-family: 'Neue' !important;
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 40px;
}
.home-container .main .box .cardList .card .inner{
  width: 95%;
  font-family: 'Neue' !important;
  font-size: 18px;
  font-weight: 500;
  line-height: 30.6px;
}
.home-container .main .box .cardList .first{
  background-image: url("img/home/cardbg-f.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.home-container .main .box .cardList .first .ball{
  background: rgba(93, 0, 251, 1);
}
.home-container .main .box .cardList .second{
  background-image: url("img/home/cardbg-s.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.home-container .main .box .cardList .thrid{
  background-image: url("img/home/cardbg-t.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.home-container .main .box .cardList .second .ball{
  background: rgba(119, 246, 211, 1);
}
.home-container .main .box .cardList .thrid .ball{
  background: rgba(159, 87, 242, 1);
}
.home-container .main .box .howToWork{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.home-container .main .box .howToWork .workInfo{
  width: 550px;
  padding-top: 90px;
  background-image: url("img/home/listBg.png");
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: 'Neue' !important;
  font-size: 18px;
  font-weight: 500;
  line-height: 30.6px;
}
.home-container .main .box .stepList{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.home-container .main .box .stepList .step{
  flex: 1;
}
.home-container .main .box .stepList .step img{
  width: 55px;
  height: 55px;
  margin-bottom: 22px;
}
.home-container .main .box .stepList .step .title{
  font-family: 'Neue' !important;
  font-size: 28px;
  font-weight: 500;
  line-height: 33.6px;
  margin-bottom: 22px;
  text-wrap: nowrap;
}
.home-container .main .box .stepList .step .inner{
  width: 100%;
  font-family: 'Neue' !important;
  font-size: 18px;
  font-weight: 500;
  line-height: 30.6px;
}

.home-container .main .box .AGXAndALP{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
.home-container .main .box .token{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10%;
}
.home-container .main .box .fair{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.home-container .main .box .fair .fairBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  /* margin-left: -80px; */
}
.home-container .main .box .fair .FairLaunch{
  margin-top: 10px;
  width: 70%;
  z-index: 2;
}
.home-container .main .box .fair .FairBall{
  width: 100%;
  height: 45vw;
  margin-top: -13vw;
}
.home-container .main .box .fair .fairImg{
  width: 45%;
  margin-top: -15vw;
}
.home-container .main .box .advanced{
  width: 100%;
  margin-top: -50px;
  position: relative;
  margin-bottom: 70px;
}
.home-container .main .box .advanced .advancedLearn{
  height: 50px;
  line-height: 20px;
  padding: 14px 38px 14px 38px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  font-family: 'Neue' !important;
  font-size: 18px;
  font-weight: 500;
  border-radius: 30px;
  margin-right: 30px;
  color: #000;
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 0;
}
.home-container .main .box .advanced .advancedLearn a{
  color: #000;
  font-family: 'Neue' !important;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
.home-container .main .box .secure{
  width: 100%;
  margin-bottom: 40px;
}
.home-container .main .box .secure img{
  width: 100%;
}
.home-container .main .box .fairBox{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap:40px
}
.home-container .main .box .fairBox .security{
  flex: 1;
  height: 22.5vw;
  min-height: 306px;
  background-image: url("img/home/tradeBG.png");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 3%;
  position: relative;
}
.home-container .main .box .fairBox .security .logo{
  margin-bottom: 18px;
}
.home-container .main .box .fairBox .security .title{
  margin-bottom: 14px;
  font-family: 'Neue' !important;
  font-size: 28px;
  font-weight: 600;
  line-height: 33.6px;
}
.home-container .main .box .fairBox .security .inner{
  font-family: 'Neue' !important;
  font-size: 14px;
  font-weight: 500;
  line-height: 30.6px;
}
.home-container .main .box .fairBox .security .center{
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: -27px;
  left: 0;
}
.home-container .main .box .fairBox .security .button{
  height: 54px;
  padding: 8px 16px 8px 10px;
  border-radius: 30px;
  background: linear-gradient(154.31deg, #9F57F2 0.89%, #8236DA 27.8%, #4C158B 56.66%, #300264 98.42%);
  font-family: 'Neue' !important;
  font-size: 22px;
  font-weight: 500;
  line-height: 26.4px;
}
.home-container .main .box .fairBox .security .button img{
  margin-right: 10px;
}
.home-container .main .box .Protocol{
  width: 80%;
  margin-bottom: 90px;
}
.home-container .main .box .protoool{
  width: 100%;
}
.home-container .main .box  .maxWidth{
  width: 120%;
  max-width: 120%;
}
.home-container .main .box .fairBox .startTrade{
  position: relative;
  width: 645px;
  height: 670px;
  background-image: url("img/home/startTrade.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.home-container .main .box .fairBox .startTrade .joinNow{
  position: absolute;
  height: 50px;
  line-height: 20px;
  padding: 14px 38px 14px 38px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  font-family: 'Neue' !important;
  font-size: 18px;
  font-weight: 700;
  border-radius: 30px;
  margin-right: 30px;
  color: #000;
  cursor: pointer;
  left: calc(50% - 81px);
  top: 24.5vw;
}
.home-container .main .box .fairBox .chain{
  position: relative;
  width: 455px;
  height: 670px;
  background-image: url("img/home/chain.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.home-container .main .box .fairBox .chain .link{
  display: flex;
  position: absolute;
  width: 100%;
  top: 36vw;
  justify-content: space-between;
  padding: 0 18%;
}
.home-container .main .box .fairBox .chain .link a{
  background: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 55px;
}
.home-container .main .box .fairBox .chain .link a img{
  display: inline-block;
}
.home-container .footer{
  width: 100%;
  height: 120px;
  background: linear-gradient(121.46deg, rgba(119, 246, 211, 0.2) -8.22%, rgba(95, 99, 240, 0.2) 37.56%, rgba(159, 87, 242, 0.2) 79.81%);
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  font-family: 'Neue' !important;
  font-size: 18px;
  font-weight: 500;
}
.home-container .footer .scrollBox{
  display: flex;
  gap: 40px;
}
.home-container .footer .scrollBox .scroll{
  cursor: pointer;
  font-family: 'Neue' !important;
  font-size: 18px;
  font-weight: 500;
}
.home-container .footer .copyright{
  font-size: 16px;
  color: rgba(173, 173, 173, 1);
  font-family: 'Neue' !important;
  font-size: 18px;
  font-weight: 400;
}
.mobileBut{
  display: none;
}
.modile{
  display: none;
}
.home-container .cain{
  width: 100px;
  position: absolute;
}
.home-container .home-header .introduce .right-cain{
  right: -15%;
  top: -15%;
}
.home-container .home-header .introduce .left-cain{
  bottom: -10%;
  left: 30%;
}
.home-container .home-header .introduce .bottom-cain{
  left: -15%;
  top: 30%;
}
.cain1{
  right: -15%;
  top: 10px;
}
.cain2{
  left: -15%;
  top: 60%;
}
.cain3{
  right: -10px;
  top: 20%;
}
.cain4{
  left: -15%;
  top: 10%;
}
.cain5{
  right: 10%;
  top: 10%;
}
.cain6{
  left: -15%;
  top: -10px;
}
.cain7{
  right: -10%;
  top: 10%;
}
.cain8{
  left: -5%;
  bottom: 10px;
}
.cain9{
  left: -15%;
  top: -10%;
}
.cain10{
  right: -10px;
  top: 10%;
}
.cain11{
  left: -10%;
  bottom: -20%;
}
.cain12{
  right: -10%;
  top: -15%;
}
@keyframes up-down {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-50px);
  }
}

.up-down {
  display: inline-block;
  animation: up-down 3s infinite;
}
@keyframes left-right {
  0%, 100% {
      transform: translateX(0);
  }
  50% {
      transform: translateX(-50px);
  }
}

.left-right {
  display: inline-block;
  animation: left-right 3s infinite;
}
@media (max-width: 450px) {
  .home-container{
    height: 100vh;
    overflow: auto;
  }
  .home-container .home-header-top{
    display: none;
  }
  .PC{
    display: none;
  }
  .modile{
    display: inline-block;
  }
  .isShow{
    display: block;
  }
  .home-container .home-header{
    padding: 67px 15px 60px 15px;
  }
  .home-container .home-header .nav .mobileBut{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    text-align: center;
    line-height: 48px;
    cursor: pointer;
  }
  .home-container .home-header .nav .mobileBut img{
    display: inline-block;
  }
  .home-container .home-header .nav img{
    width: 50px;
    height: 50px;
  }
  .home-container .home-header .nav .navButton{
    padding-top: 0;
  }
  .home-container .home-header .nav .navButton .joinNew{
    margin-right: 0;
  }
  .home-container .home-header .nav .mobileBut img{
    width: 28px;
    height: 28px;
  }
  .MenuList{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
  }
  .Menu{
    width: 70%;
    height: 100%;
    background: rgba(23, 24, 44, 1) 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .Menu .logo{
    width: 40px;
    margin: 60px 20% 20px;
  }
  .Menu img{
    width: 30px;
    margin-left: 21%;
  }
  .home-container .home-header .support img{
    width: 100%;
  }
  .introduce .large .marginRight{
    margin-bottom: 20px;
  }
  .introduce .large .marginLeft{
    margin-bottom: 20px;
  }
  .introduce .trade div{
    font-size: 12px;
    line-height: 20px;
    margin-right: 10px;
  }
  .introduce .trade img{
    width: 30%;
    margin-bottom: 40px;
  }
  .introduce .intro-flex .start{
    margin-left: 10%;
    height: 46px;
    font-size: 12px;
  }
  .introduce .intro-flex .learn{
    font-size: 12px;
  }
  .introduce .intro-flex .start img{
    width: 2rem;
    vertical-align: sub;
  }
  .introduce .intro-flex .start a{
    text-wrap: nowrap;
  }
  .home-container .home-header .introduce{
    padding-bottom: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    margin-bottom: 20px;
  }
  .home-container .home-header .Mask{
    width: 80%;
    left: 40px;
  }
  .home-container .home-header .EllipseLeft{
    bottom: 20%;
    width: 80%;
  }
  .home-container .home-header .Ellipse{
    width: 100%;
    left: -20%;
  }
  .home-container .home-header .MaskTable{
    width: 70%;
    left: -20%;
  }
  .home-container .main{
    padding: 60px 15px;
    background-size: 100% 100%;
  }
  .home-container .main .box{
    margin-bottom: 60px;
    position: relative;
  }
  .home-container .main .box .title{
    width: 60%;
    margin-bottom: 40px;
  }
  .home-container .main .box .choose{
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
  .home-container .main .box .choose .chooseBut{
    height: 44px;
    font-size: 12px;
    margin-bottom: 10px;
    line-height: 15px;
  }
  .home-container .main .box .choose .chooseInf{
    width: 100%;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
  .home-container .main .box .choose img{
    width: 40%;
    left: -20px;
  }
  .home-container .main .box .cardList{
    flex-direction: column;
    align-items: center;
  }
  .home-container .main .box .cardList .card{
    padding: 30px 20px;
    width: 100%;
    height: auto;
    padding-bottom: 70px;
    margin-bottom: 10px;
  }
  .home-container .main .box .cardList .card .ball{
    margin-bottom: 30px;
  }
  .home-container .main .box .cardList .card .title{
    font-size: 18px;
    margin-bottom: 30px;
  }
  .home-container .main .box .cardList .card .inner{
    font-size: 14px;
    line-height: 20px;
  }
  .home-container .main .box .cardList .card img{
    bottom: 20px;
  }
  .home-container .main .box .howToWork{
    flex-direction: column;
    align-items: center;
  }
  .home-container .main .box .howToWork .greenStart{
    width: 20px;
    margin-bottom: 20px;
  }
  .home-container .main .box .howToWork .HowAGXWorks{
    width: 60%;
    margin-bottom: 20px;
  }
  .home-container .main .box .howToWork .workInfo{
    width: 100%;
    font-size: 14px;
    padding-top: 0;
    padding-bottom: 40px;
    background-position: 40% bottom;
    background-size: 80%;
    color: rgba(162, 162, 162, 1);
  }
  .home-container .main .box .stepList{
    flex-wrap: wrap;
  }
  .home-container .main .box .stepList .step{
    flex: 2;
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home-container .main .box .stepList .step img{
    margin-bottom: 10px;
  }
  .home-container .main .box .stepList .step .title{
    font-size: 17px;
    margin-bottom: 10px;
    width: 100%;
    min-width: 160px;
    text-align: center;
  }
  .home-container .main .box .stepList .step .inner{
    font-size: 14px;
    width: 100%;
    text-align: center;
    color: rgba(162, 162, 162, 1);
    line-height: 20px;
  }
  .home-container .main .box .AGXAndALP,.home-container .main .box .token,.home-container .main .box .fair,.home-container .main .box .advanced{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home-container .main .box .AGXAndALP .purpleStart{
    width: 20px;
    margin-bottom: 20px;
  }
  .home-container .main .box .AGXAndALP .AGXandALPTokens{
    width: 80%;
    margin-bottom: 20px;
  }
  .home-container .main .box .AGXAndALP .AGXBall{
    width: 80%;
  }
  .home-container .main .box .token img{
    width: 100%;
    margin-bottom: 20px;
  }
  .home-container .main .box .fair img{
    width: 100%;
    margin: 0;
  }
  .home-container .main .box .fair .FairBall{
    width: 80%;
    margin-top: -50px;
    height: 300px;
    margin-left: 0;
  }
  .home-container .main .box .fair .fairBox,.home-container .main .box .fair .FairLaunch{
    width: 100%;
    margin-left: 0;
  }
  .home-container .main .box .fair .FairLaunch{
    width: 60%;
    margin-right: 0;
  }
  .home-container .main .box .advanced{
    margin-top: 60px;
    margin-bottom: 40px;
  }
  .home-container .main .box .advanced .darkpurpleStart{
    margin-bottom: 20px;
  }
  .home-container .main .box .fairBox{
    display: none;
  }
  .home-container .main .box .Protocol{
    width: 100%;
    margin-bottom: 40px;
  }
  .home-container .main .box .mobileprotoool1{
    width: 100%;
    position: absolute;
    top: 10px;
  }
  .home-container .main .box .mobileprotoool{
    width: 100%;
  }
  .home-container .main .box .other{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home-container .main .box .fairBox .startTrade,.home-container .main .box .fairBox .chain{
    width: 100%;
  }
  .home-container .main .box .fairBox .startTrade{
    height: 95vw;
    /* margin-bottom: 20px; */
  }
  .home-container .main .box .fairBox .chain{
    height: 136vw;
  }
  .home-container .main .box .fairBox .startTrade .joinNow{
    height: 44px;
    font-size: 14px;
    line-height: 15px;
    left: calc(50% - 58px);
    top: 53vw;
    padding: 14px 24px;
  }
  .home-container .main .box .fairBox .chain .link{
    top: inherit;
    padding: 0 19%;
    bottom: 42px;
  }
  .home-container .main .box .fairBox .chain .link a{
    width: 40px;
    height: 40px;
    line-height: 38px;
  }
  .home-container .footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 15px;
  }
  .home-container .footer .scrollBox .scroll{
    font-size: 14px;
  }
  .home-container .footer .copyright{
    font-size: 12px;
    color: rgba(173, 173, 173, 1);
  }
  .home-container .main .box .fair .fairImg{
    width: 100%;
  }
  .home-container .main .box  .zklinkLogo{
    width: 1.8rem;
    bottom: 7rem;
    left: 35%;
  }
  .home-container .cain{
    width: 60px;
    position: absolute;
  }
  .home-container .home-header,.home-container .main{
    overflow: hidden;
  }
  .home-container .home-header .introduce .right-cain{
    right: 10px;
    top: 5%;
  }
  .home-container .home-header .introduce .left-cain{
    bottom: 0;
    left: 70%;
  }
  .home-container .home-header .introduce .bottom-cain{
    left: 0;
    top: 10%;
  }
  .cain1{
    right: 0;
    top: 10px;
  }
  .cain2{
    left: 10px;
    top: 50%;
  }
  .cain3{
    right: -10px;
    top: 12%;
  }
  .cain4{
    left: inherit;
    right: 15px;
    top: -1%;
  }
  .cain5{
    right: 5%;
    top: -5%;
  }
  .cain6{
    left: -5%;
    top: -10%;
  }
  .cain7{
    right: -5%;
    top: 10%;
  }
  .cain8{
    left: -5%;
    bottom: 10px;
  }
  .cain9{
    left: 0;
    top: -60px;
  }
  .cain10{
    right: -10px;
    top: 10%;
  }
  .cain11{
    left: -10%;
    bottom: -10%;
  }
  .cain12{
    right: -5%;
    top: -8%;
  }
}

@media (min-width: 1580px) {
  .home-container .main .box .fairBox .startTrade .joinNow{
    top: 390px;
  }
  .home-container .main .box .fairBox .chain .link{
    bottom: 35px;
    top: inherit;
  }
}
@media (max-width: 1350px) and (min-width: 450px) {
  .home-container .main{
    padding: 130px 10%;
  }
  .home-container .main .box .cardList .card .ball,.home-container .main .box .cardList .card .title{
    margin-bottom: 30px;
  }
  .home-container .main .box .cardList .card img{
    right: 6%;
    bottom: 8%;
  }
  .home-container .main .box .fairBox .security{
    height: 26vw;
  }
  .home-container .main .box .fairBox .startTrade .joinNow{
    top: 26.7vw;
  }
  .home-container .main .box .fairBox .chain .link{
    top: 39.5vw;
  }
}
@media (min-width: 1350px) and (max-width: 1630px) {
  .home-container .main .box .fairBox .startTrade .joinNow{
    top: 23.5vw;
  }
  .home-container .main .box .fairBox .chain .link{
    top: 34.7vw;
  }

}